<h2>Welcome to the License Plate registration system</h2>
<h4>Enter your login information below</h4>
<div class="example-container">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input placeholder="Enter your email" [formControl]="email" required matInput placeholder="Enter Your email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
</div>
<div class="example-container">
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input placeholder="Enter your password" [formControl]="password" required matInput
            placeholder="Enter Your password">
        <mat-error *ngIf="email.invalid">Enter Your password</mat-error>
        <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
</div>
<div class="submit-wrap">
    <button [routerLink]="[ '/search' ]" mat-raised-button color="primary">Login</button>
</div>