<h1 class="m-0 text-center" mat-dialog-title>
    Please confirm that the following information is correct
</h1>
<div mat-dialog-content>
    <p>
        <span class="label">
            License plate number:
        </span>
        <span>
            1234
        </span>
    </p>
    <p>
        <span class="label">
            Check-in time:
        </span>
        <span>
            1234
        </span>
    </p>
    <p>
        <span class="label">
            Check-out time:
        </span>
        <span>
            1234
        </span>
    </p>
    <p>
        <span class="label">
            Total time:
        </span>
        <span>
            1234
        </span>
    </p>
    <p>
        <span class="label">
            Staff id:
        </span>
        <span>
            1234
        </span>
    </p>
</div>
<div mat-dialog-actions>
    <div class="submit-wrap">
        <button (click)="onNoClick()" mat-raised-button>Cancel</button>
        <button cdkFocusInitial [mat-dialog-close]="dataExport" mat-raised-button color="primary">Accept</button>
    </div>
</div>