<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="p-r-3">
      <div class="df ai-c jc-e">
        <ion-buttons class="notif-button" (click)="goNotifPage()" clear>
          <ion-icon class="fs-30" color="primary" ios="ios-notifications-outline" md="ios-notifications-outline">
          </ion-icon>
        </ion-buttons>
      </div>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="fs-30 fw-600">TimeLine</ion-title>
    <div class="filter">
      <div [ngClass]="{'active has-notif': true}" class="filter--item">
        MEETUPS
      </div>
      <div [ngClass]="{'has-notif': true}" class="filter--item">
        ADVENTURES
      </div>
      <div [ngClass]="{'has-notif': true}" class="filter--item">
        ARCHIVES
      </div>
    </div>
  </ion-toolbar>
</div>

<ion-content>
  <div class="bg-main">
    <ion-card>
      <div class="pos-r">
        <img class="banner" src="assets/img/fishing.jpg" alt="" />
        <div class="practicipants">
          <div class="item">
            <img src="assets/img/huakin.png" alt="">
          </div>
          <div class="item">
            <img src="assets/img/huakin.png" alt="">
          </div>
          <div class="item">
            <img src="assets/img/huakin.png" alt="">
          </div>
          <div class="item count">
            2 +
          </div>
        </div>
        <div (click)="goCalendarPage()" class="calendar-info">
          <div class="time">
            16:00
          </div>
          <div class="date">
            24
          </div>
          <div class="mounth">
            AUG
          </div>
        </div>
        <div class="info">
          <div class="title">
            Fishing
          </div>
          <div class="address">
            Address here
          </div>
        </div>
      </div>
      <div class="footer">
        <button class="accept">
          COMING
        </button>
      </div>
    </ion-card>

    <ion-card>
      <div class="pos-r">
        <img class="banner" src="assets/img/fishing.jpg" alt="" />
        <div class="practicipants">
          <div class="item">
            <img src="assets/img/huakin.png" alt="">
          </div>
          <div class="item">
            <img src="assets/img/huakin.png" alt="">
          </div>
          <div class="item">
            <img src="assets/img/huakin.png" alt="">
          </div>
          <div class="item count">
            2 +
          </div>
        </div>
        <div (click)="goCalendarPage()" class="calendar-info">
          <div class="time">
            16:00
          </div>
          <div class="date">
            24
          </div>
          <div class="mounth">
            AUG
          </div>
        </div>
        <div class="info">
          <div class="title">
            Fishing
          </div>
          <div class="address">
            Address here
          </div>
        </div>
      </div>
      <div class="footer">
        <button class="dangers">
          DECLINE <ion-icon class="m-l-5" ios="ios-close" md="ios-close"></ion-icon>
        </button>
        <button class="accept">
          ACCEPT <ion-icon class="m-l-5" ios="ios-checkmark" md="md-checkmark"></ion-icon>
        </button>
      </div>
    </ion-card>

    <div class="button-crate-wrap">
      <ion-button class="fs-12" size="large" expand="full" color="secondary">
        CREATE +
      </ion-button>
    </div>
  </div>
</ion-content>