@import "../../theme/variables.scss";

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bg-main {
  background-size: 49px 100%;
  background-image: linear-gradient(to right, #edf3fa 0%, #edf3fa 0%, #edf3fa 100%);
  background-repeat: no-repeat;
  padding: 1px 0;
  padding-top: 0.1px;
  height: 100%;
}

ion-card {
  overflow: visible;
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 20px;
  margin-inline-start: 20px;
  -webkit-margin-end: 20px;
  margin-inline-end: 20px;
  margin-bottom: 20px;

  .banner {
    border-radius: 3px 3px 0 0;
  }

  .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px 4px black;

    .title {
      font-size: 22px;
    }

    .address {
      font-size: 10px;
      color: #d2d2d2;
    }
  }

  .practicipants {
    display: flex;
    position: absolute;
    right: -10px;
    top: 10px;
    box-shadow: 3px 3px 20px -2px #00000038;

    .item {
      width: 40px;
      height: 40px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        position: relative;
        z-index: 1;
      }

      &.count {
        background: $primaryBg;
        color: white;
      }

      img {
        position: absolute;
        width: 100%;
      }
    }
  }

  .calendar-info {
    width: 55px;
    height: 70px;
    text-align: center;
    background: white;
    position: absolute;
    top: -10px;
    left: -10px;
    box-shadow: 3px 3px 20px -2px #00000038;

    .time {
      background: #a577fe;
      color: white;
      display: flex;
      justify-content: center;
      height: 15px;
      align-items: center;
      font-size: 10px;
      margin-bottom: 10px;
    }

    .date {
      font-size: 24px;
      font-weight: 600;
      color: #222222;
      line-height: 20px;
    }

    .mounth {
      font-size: 12px;
    }
  }

  .footer {
    display: flex;
    justify-content: stretch;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    button {
      border: none;
      outline: none;
      background: none;
      height: 60px;
      transition: all .5s;
      text-align: center;
      justify-content: center;
      display: flex;
      width: 100%;

      ion-icon {
        transition: all;
        color: white;
      }

      &.accept {
        background: #77e2c6;
        border-left: 2px solid #77e2c6;
        text-align: center;
        display: flex;
        color: #ffffff
      }

      &.dangers {
        background: #f18b8b;
        border-left: 2px solid #f18b8b;
        color: #ffffff
      }

      &:active {
        background: #ffffff !important;
        color: #222222 !important;

        &.accept {
          ion-icon {
            color: #77e2c6;
          }
        }

        &.dangers {
          ion-icon {
            color: #f18b8b;
          }
        }
      }
    }
  }
}

.button-crate-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.filter {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 0;
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 12px;

  &--item {
    color: #adadad;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 13px;

    &.active {
      color: #222222;
    }

    &:not(:last-child) {
      &::after {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 100px;
        background: #adadad;
        display: inline-block;
        position: absolute;
        right: -8px;
      }
    }

    &.has-notif {
      &::before {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        width: 5px;
        height: 5px;
        border-radius: 100px;
        background: #ee6666;
      }
    }

  }
}